extends layout 

block content
    script(src="/scripts/Shoppinglist.js" defer) 
    h1= title 
    p Welkom op #{title} pagina!

    <h3> My Shoppinglist </h3>
    <input type="text" id="item" placeholder="Add new item">
    <input type="number" id="amount" placeholder="Amount" min = 1>

    <button onclick="AddNewItem()" id="AddBtn">Add item</button>

    ul(id = "list")
        each item in shoppingItems 
            li(shoppingitem-id=item.id) #[input(type="checkbox" checked=item.shoppingstatus)] #[strong #{item.name}: ] #[em #{item.count}]x #[input(type="button", class="deletebutton" value='Delete')]

        else 
            li(id = "emptylist") Er zijn geen items op je shopping list

